<div class="grey-bg">
	<div class="container" id="main">
	  <div class="row">
	  	<div class="col-md-6 col-md-offset-3">	 
	     	<div class="panel panel-default">
	   			<div class="panel-body">
						<h2><%= @user.name %></h2>
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum neque sapien, scelerisque sit amet luctus tempus, convallis iaculis enim. Cras vulputate ipsum eget ligula pharetra, sed molestie neque ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
						<%= link_to 'Github', '#' %>
						<h4>Repos:</h4>
						<ul>
							<li>Sample repo name</li>
							<li>Sample repo name</li>
							<li>Sample repo name</li>
							<li>Sample repo name</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>