	<div class="welcome-container">
    <div class="container">
       <div class="well welcome starter-template">
         <h2>Meet new people</h2>
         <h1>Get lunch with GitGrub</h1>
         <p class="lead">
          <% if current_user %>
  					<h2><%= link_to 'Enter', posts_path, class: 'btn btn-success btn-margin purp' %></h2>
  				<% else %>
    				<h3><%= link_to "/auth/github" do %>Sign up with Github <span class="mega-octicon octicon-mark-github"></span><% end %></h3>
  				<% end %>
  			</p>
      </div>
    </div><!-- /.container -->
  </div>


