// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grey-bg {
  background-color: #f2f2f2;
}


.logo-margin {
	margin-top: -8px;
}

.btn.btn-margin.purp {
	background-color: #7c26cb;
	border-color: #7121bc;
}

.col-padding {
  padding-bottom: 30px;
}