// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.welcome { 
	padding-top: 50px;
  background: asset_url('ggrubbg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.well.welcome {
	background: rgba(255, 255, 255, .4);
	border: none;
	width: 500px;
	margin: 150px auto;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
